 <!-- header -->
<header class="header">
    <div class="container-fluid px-lg-5">
        <!-- nav -->
        <nav class="py-4">
            <div id="logo">
                <h1>
                    <a href="index.html" class="editContent" style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: quot Source Sans Pro quot, sans-serif;"></a>
                </h1>x
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active"><a href="index.html">Asosiy</a></li>
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle">Toifalar <span class="fa fa-angle-down" aria-hidden="true" ></span> </label>
                    <a href="#">Toifalar <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        <li><a href="movie_detail.html">Filmlar</a></li>
                        <li><a href="movie_detail.html">Seriallar</a></li>
                        <li><a href="movie_detail.html">Multfilmlar</a></li>
                    </ul>
                </li>
                <li><a href="contact.html" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Kirish</a></li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->
<!--/banner-->
<div class="banner-info">
<!--                <p class="editContent" >лучший сайт на django 3</p>-->
<!--                <h3 class="mb-4 editContent">Все о кино</h3>-->
    <div class="ban-buttons">


    </div>
</div>
<!--// banner-inner -->
